.merquee {
    color: transparent;
    font-size: 52px;
    font-weight: $title-fw;
    -webkit-text-stroke: 1px #{$primary-color};
    overflow: hidden;
    &__wrapper {
        @include animate(
            merquee,
            10s,
            $time-function: linear infinite
        ) {
            0% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(100%);
            }
        }
    }
    &_rotate {
        transform: rotate(180deg);
    }
}
