// fonts family
$main-font-family: "Giga";

// fonts sizes
$text-fz: 16px;
$small-fz: 8px;
$item-title-fz: 21px;
$title-fz: 28px;
$primary-title-fz: 82px;
$primary-title-fz_laptop: 58px;
$primary-title-fz_tablet: 56px;
$primary-title-fz_phone: 34px;
$primary-title-fz_small-phone: 28px;

// font weight
$title-fw: 700;

$link-fw: 600;

$standart-fw: 400;
// colors

$primary-color: #373737;
$primary-color_light: #e5e5e5;

$white: #ffffff;
$secondary-color: #ffcb46;

$shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.144);
